{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <section class="content-header">
        <h2>Cadastro <small>- agentes</small></h2>
    </section>
    <div class="row">
        <div class="col-lg-12">
            <form action="{{ form_action }}" role="form" class="form-horizontal" method="POST">
            {{ form.csrf_token }}
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Dados Pessoais</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            {{ wtf.form_field(form.nome, maxlength="65") }}
                            {{ wtf.form_field(form.dt_nascimento) }}
                            {{ wtf.form_field(form.sexo) }}
                            {{ wtf.form_field(form.celular) }}
                            {{ wtf.form_field(form.cep) }}
                            {{ wtf.form_field(form.rua, maxlength="65") }}
                            {{ wtf.form_field(form.numero) }}
                            {{ wtf.form_field(form.complemento, maxlength="50") }}
                            {{ wtf.form_field(form.bairro) }}
                            {{ wtf.form_field(form.cidade, maxlength="30") }}
                            {{ wtf.form_field(form.uf, maxlength="2") }}
                            {{ wtf.form_field(form.telefone_residencial) }}
                            {{ wtf.form_field(form.id_nucleo) }}

                            {% if g.user.coordenador_pastoral == True %}
                                {{ wtf.form_field(form.coordenador_nucleo) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="well well-sm">
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/jquery.maskedinput.min.js') }}"></script>

<script>
    $("#dt_nascimento").mask("99/99/9999");
    $('#celular').mask('(99) 99999-9999');
    $('#telefone_residencial').mask('(99) 9999-9999');
    $('#cep').mask('99.999-999');
    
    $(document).ready(function() {
        function limpa_formulário_cep() {
            $("#rua").val("");
            $("#bairro").val("");
            $("#cidade").val("");
            $("#uf").val("");
        }

        $("#cep").blur(function() {
            var cep = $(this).val().replace(/\D/g, '');

            if (cep != "") {
                var validacep = /^[0-9]{8}$/;

                if(validacep.test(cep)) {
                    $("#rua").val("...")
                    $("#bairro").val("...")
                    $("#cidade").val("...")
                    $("#uf").val("...")

                    //Consulta o webservice viacep.com.br/
                    $.getJSON("//viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                        if (!("erro" in dados)) {
                            $("#rua").val(dados.logradouro);
                            $("#bairro").val(dados.bairro);
                            $("#cidade").val(dados.localidade);
                            $("#uf").val(dados.uf);
                        }
                        else {
                            limpa_formulário_cep();
                            alert("CEP não encontrado.");
                        }
                    });
                }
                else {
                    limpa_formulário_cep();
                    alert("Formato de CEP inválido.");
                }
            }
            else {
                limpa_formulário_cep();
            }
        });
    });
</script>
{% endblock %}