{% import 'macros/macros.html' as macros %}
{% extends "base.html" %}
{% block content %}
    <section class="content-header">
        <h2>Cadastro <small>- agentes</small></h2>
    </section>
    <div class="row">
        <div class="col-lg-12">
            <form action="{{ form_action }}" role="form" class="form-horizontal" method="POST">
            {{ form.hidden_tag() }}
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Dados Pessoais</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            {{ macros.render_field(form.nome) }}
                            {{ macros.render_field(form.dt_nascimento) }}
                            {{ macros.render_field(form.celular) }}
                            {{ macros.render_field(form.endereco) }}
                            {{ macros.render_field(form.bairro) }}
                            {{ macros.render_field(form.cep) }}
                            {{ macros.render_field(form.cidade) }}
                            {{ macros.render_field(form.telefone_residencial) }}
                            {{ macros.render_field(form.id_nucleo) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Acesso</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            {{ macros.render_field(form.email) }}
                            {{ macros.render_field(form.password) }}
                            {{ macros.render_field(form.password_confirm) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="well well-sm">
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery.maskedinput.min.js') }}"></script>

<script>
    $("#dt_nascimento").mask("00/00/0000");
    $('#celular').mask('(00) 00000-0000');
    $('#telefone_residencial').mask('(00) 0000-0000');
    $('#cep').mask('00.000-000');
</script>
{% endblock %}