{% import 'macros/macros.html' as macros %}
{% extends "base.html" %}
{% block content %}
    <section class="content-header">
        <h2>Cadastro <small>- agentes</small></h2>
    </section>
    <div class="row">
        <div class="col-lg-12">
            <form action="{{ form_action }}" role="form" class="form-horizontal" method="POST">
            {{ form.csrf_token }}
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Dados Pessoais</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            {{ macros.render_field(form.nome, maxlength="65") }}
                            {{ macros.render_field(form.dt_nascimento) }}
                            {{ macros.render_field(form.celular) }}
                            {{ macros.render_field(form.cep) }}
                            {{ macros.render_field(form.rua, maxlength="65") }}
                            {{ macros.render_field(form.numero) }}
                            {{ macros.render_field(form.complemento, maxlength="50") }}
                            {{ macros.render_field(form.bairro) }}
                            {{ macros.render_field(form.cidade, maxlength="30") }}
                            {{ macros.render_field(form.uf, maxlength="2") }}
                            {{ macros.render_field(form.telefone_residencial) }}
                            {{ macros.render_field(form.id_nucleo) }}

                            {% if g.user.coordenador_pastoral == True %}
                                {{ macros.render_checkbox_field(form.coordenador_nucleo) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="well well-sm">
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery.maskedinput.min.js') }}"></script>

<script>
    $("#dt_nascimento").mask("99/99/9999");
    $('#celular').mask('(99) 99999-9999');
    $('#telefone_residencial').mask('(99) 9999-9999');
    $('#cep').mask('99.999-999');
</script>
{% endblock %}