{% extends "base.html" %}
{% block content %}
    <section class="content-header">
        <h2>Agentes <small>- listar agentes</small></h2>
        <!--<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>-->
    </section>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{{ url_for('agente.novo') }}" class="btn btn-primary">Novo</a>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <col width="3%">
                    <col width="75%">
                    <col width="17%">
                    <col width="5%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Núcleo</th>
                            {% if g.user.coordenador_pastoral == True %}
                            <th>Excluir</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for agente in agentes %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                {% if g.user.coordenador_pastoral == True or g.user.coordenador_nucleo == True %}
                                <td><a href="{{ url_for('agente.editar', id=agente.id) }}">{{ agente.nome }}</a></td>
                                {% else %}
                                <td>{{ agente.nome }}</td>
                                {% endif %}
                                <td>{{ agente.descricao }}</td>
                                {% if g.user.coordenador_pastoral == True %}
                                <td class="center"><a href="{{ url_for('agente.excluir', id=agente.id) }}">
                                                <span class="glyphicon glyphicon-remove"></span></a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}