{% import 'macros/macros.html' as macros %}
{% extends "base.html" %}
{% block content %}
    <section class="content-header">
        <h2>Cadastro <small>- núcleos</small></h2>
    </section>
    <div class="row">
        <div class="col-lg-12">
            <form action="{{ form_action }}" role="form" class="form-horizontal" method="POST">
                {{ form.csrf_token }}
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Dados de cadastro</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                {{ macros.render_field(form.descricao, maxlength="100") }}
                                {{ macros.render_field(form.objetivo, maxlength="100") }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}