{% extends "base.html" %}
{% block content %}
    <section class="content-header">
        <h2>Evento <small>- listar eventos</small></h2>
    </section>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{{ url_for('evento.novo') }}" class="btn btn-primary {% if g.user.coordenador_pastoral == False %} disabled {% endif %}">Novo</a>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <col width="3%">
                    <col width="42%">
                    <col width="20%">
                    <col width="10%">
                    <col width="20%">
                    <col width="5%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Descrição</th>
                            <th>Data Evento</th>
                            <th>Tx. Inscrição</th>
                            <th>Núcleo</th>
                            {% if g.user.coordenador_pastoral == True %}
                            <th>Excluir</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if eventos.items %}
                            {% for evento in eventos.items %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        {% if (g.user.coordenador_pastoral == True) or (g.user.coordenador_nucleo == True and g.user.id_nucleo == evento.id_nucleo) %}
                                        <a href="{{ url_for('evento.editar', id=evento.id) }}">{{ evento.descricao }}</a>
                                        {% else %}
                                        {{ evento.descricao }}
                                        {% endif %}
                                    </td>
                                    <td>{{ evento.dt_evento.strftime('%d-%m-%Y')  }}</td>
                                    <td>{{ '{:7,.2f}'.format(evento.tx_inscricao) }}</td>
                                    <td>{{ evento.nucleo_descricao }}</td>
                                    {% if g.user.coordenador_pastoral == True %}
                                    <td class="center">
                                        <a class="btn btn-danger" href="{{ url_for('evento.excluir', id=evento.id) }}">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="8" class="warning">Nenhum registro encontrado!</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <nav class="text-center">
            <ul class="pagination">
                <li {% if not eventos.has_prev %} class="disabled" {% endif %}>
                    <a href="{{ url_for('evento.index', page = eventos.prev_num) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for page in eventos.iter_pages() %}
                    <li {% if page==cur_page %} class="disabled" {% endif %}><a href="{{ url_for('evento.index', page=page) }}">{{ page }}</a></li>
                {% endfor %}
                <li {% if not eventos.has_next %} class="disabled" {% endif %}>
                    <a href="{{ url_for('evento.index', page = eventos.next_num) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}