{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    {% if evento %}
        <section class="content-header">
            <h2>Inscrição <small>- {{ evento.descricao }} - Data: {{ evento.dt_evento.strftime('%d/%m/%Y') }}</small></h2>
        </section>
        <div class="row">
            <div class="col-lg-12">
                <form action="{{ form_action }}" role="form" class="form-horizontal" method="POST">
                {{ form.hidden_tag() }}
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Esposa</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                {{ wtf.form_field(form.nome[0], maxlength="65") }}
                                {{ wtf.form_field(form.dt_nascimento[0]) }}
                                {{ wtf.form_field(form.email[0], maxlength="40") }}
                                {{ wtf.form_field(form.celular[0]) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Esposo</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                {{ wtf.form_field(form.nome[1], maxlength="65") }}
                                {{ wtf.form_field(form.dt_nascimento[1]) }}
                                {{ wtf.form_field(form.email[1], maxlength="40") }}
                                {{ wtf.form_field(form.celular[1]) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Casal</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                {{ wtf.form_field(form.dt_casamento) }}
                                {{ wtf.form_field(form.paroquia_casamento) }}
                                {{ wtf.form_field(form.cep) }}
                                {{ wtf.form_field(form.rua, maxlength="65") }}
                                {{ wtf.form_field(form.numero) }}
                                {{ wtf.form_field(form.complemento, maxlength="50") }}
                                {{ wtf.form_field(form.bairro) }}
                                {{ wtf.form_field(form.cidade, maxlength="30") }}
                                {{ wtf.form_field(form.uf, maxlength="2") }}
                                {{ wtf.form_field(form.telefone_residencial) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="well well-sm">
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/jquery.maskedinput.min.js') }}"></script>

<script>
    $("#dt_nascimento-0").mask("00/00/0000");
    $("#dt_nascimento-1").mask("00/00/0000");
    $("#dt_casamento").mask("00/00/0000");
    $('#celular-0').mask('(00) 00000-0000');
    $('#celular-1').mask('(00) 00000-0000');
    $('#telefone_residencial').mask('(00) 0000-0000');
    $('#cep').mask('00.000-000');
    
    $(document).ready(function() {
        function limpa_formulário_cep() {
            $("#rua").val("");
            $("#bairro").val("");
            $("#cidade").val("");
            $("#uf").val("");
        }

        $("#cep").blur(function() {
            var cep = $(this).val().replace(/\D/g, '');

            if (cep != "") {
                var validacep = /^[0-9]{8}$/;

                if(validacep.test(cep)) {
                    $("#rua").val("...")
                    $("#bairro").val("...")
                    $("#cidade").val("...")
                    $("#uf").val("...")

                    //Consulta o webservice viacep.com.br/
                    $.getJSON("//viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                        if (!("erro" in dados)) {
                            $("#rua").val(dados.logradouro);
                            $("#bairro").val(dados.bairro);
                            $("#cidade").val(dados.localidade);
                            $("#uf").val(dados.uf);
                        }
                        else {
                            limpa_formulário_cep();
                            alert("CEP não encontrado.");
                        }
                    });
                }
                else {
                    limpa_formulário_cep();
                    alert("Formato de CEP inválido.");
                }
            }
            else {
                limpa_formulário_cep();
            }
        });
    });
</script>
{% endblock %}