{% extends "base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
    <section class="content-header">
        <h2>Trocar senha<small>- agentes</small></h2>
    </section>
    <div class="row">
        <div class="col-lg-12">
            <form  action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form" class="form-horizontal" role="form">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Validação senha...</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            {{ change_password_form.hidden_tag() }}
                            {{ render_field_with_errors(change_password_form.password,  class="form-control") }}
                            {{ render_field_with_errors(change_password_form.new_password,  class="form-control") }}
                            {{ render_field_with_errors(change_password_form.new_password_confirm,  class="form-control") }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="well well-sm">
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </form>
        </div>
    </div>
{% endblock %}